
<app-appheaderproduct></app-appheaderproduct>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="bg">

<h1 style="text-align: center;">  <marquee></marquee></h1>

<div id="pos" class="container" [hidden]=open>

    <carousel>
        <slide>
          <div class="row">
             
            
            
              <img src="assets/images/fur3.jpg" alt="Image" class="img-fluid img-thumbnail">&nbsp;
    
              <img src="assets/images/fur4.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/fur5.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/fur6.jpg" alt="Image" class="img-fluid img-thumbnail">
               
              
        </div>
        </slide>
        <slide>
            <div class="row">
                <img src="assets/images/fur7.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/fur8.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/fur9.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/fur10.jpg" alt="Image" class="img-fluid img-thumbnail">
          </div>
        </slide>
        <slide>
            <img src="assets/images/fur15.jpg" alt="Image" class="img-fluid img-thumbnail">
            <img src="assets/images/fur12.jpg" alt="Image" class="img-fluid img-thumbnail">
            <img src="assets/images/fur13.jpg" alt="Image" class="img-fluid img-thumbnail">
              <img src="assets/images/fur14.jpg" alt="Image" class="img-fluid img-thumbnail">
          </slide>
      </carousel>
    
 
    </div>


    <div class="container" [hidden]=open>
        <div class="row">
          <ul class="thumbnails">
                  <li class="span2">
                    <div class="thumbnail">
                      <img src="assets/images/fur4.jpg" alt="ALT NAME" >
                      
                      <div class="caption">
                        <h3>Header Name</h3>
                        <p>Description</p>
                        <p align="center"><a href="#" class="btn btn-primary btn-block">Open</a></p>
                      </div>
                    </div>
                  </li>
                    <li class="span2">
                    <div class="thumbnail">
                      <img src="assets/images/fur5.jpg" alt="ALT NAME">
                      <div class="caption">
                        <h3>Header Name</h3>
                        <p>Description</p>
                        <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                      </div>
                    </div>
                  </li>
                    <li class="span2">
                    <div class="thumbnail">
                      <img src="assets/images/fur6.jpg" alt="ALT NAME">
                      <div class="caption">
                        <h3>Header Name</h3>
                        <p>Description</p>
                        <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                      </div>
                    </div>
                  </li>
                  <li class="span2">
                    <div class="thumbnail">
                      <img src="assets/images/fur7.jpg" alt="ALT NAME">
                      <div class="caption">
                        <h3>Header Name</h3>
                        <p>Description</p>
                        <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                      </div>
                    </div>
                  </li>
                    <li class="span2">
                      <div class="thumbnail">
                        <img src="assets/images/fur8.jpg" alt="ALT NAME">
                        <div class="caption">
                          <h3>Header Name</h3>
                          <p>Description</p>
                          <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                        </div>
                      </div>
                    </li>
                    <li class="span2">
                      <div class="thumbnail">
                        <img src="assets/images/fur9.jpg" alt="ALT NAME">
                        <div class="caption">
                          <h3>Header Name</h3>
                          <p>Description</p>
                          <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                        </div>
                      </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                          <img src="assets/images/fur10.jpg" alt="ALT NAME">
                          <div class="caption">
                            <h3>Header Name</h3>
                            <p>Description</p>
                            <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                          </div>
                        </div>
                      </li>
                      <li class="span2">
                          <div class="thumbnail">
                            <img src="assets/images/fur11.jpg" alt="ALT NAME">
                            <div class="caption">
                              <h3>Header Name</h3>
                              <p>Description</p>
                              <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                            </div>
                          </div>
                        </li>
                        <li class="span2">
                            <div class="thumbnail">
                              <img src="assets/images/fur12.jpg" alt="ALT NAME">
                              <div class="caption">
                                <h3>Header Name</h3>
                                <p>Description</p>
                                <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                              </div>
                            </div>
                          </li>
                          <li class="span2">
                              <div class="thumbnail">
                                <img src="assets/images/fur13.jpg" alt="ALT NAME">
                                <div class="caption">
                                  <h3>Header Name</h3>
                                  <p>Description</p>
                                  <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                </div>
                              </div>
                            </li>
                            <li class="span2">
                                <div class="thumbnail">
                                  <img src="assets/images/fur14.jpg" alt="ALT NAME">
                                  <div class="caption">
                                    <h3>Header Name</h3>
                                    <p>Description</p>
                                    <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                  </div>
                                </div>
                              </li>
                              <li class="span2">
                                  <div class="thumbnail">
                                    <img src="assets/images/fur16.jpg" alt="ALT NAME">
                                    <div class="caption">
                                      <h3>Header Name</h3>
                                      <p>Description</p>
                                      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
                                    </div>
                                  </div>
                                </li>
                              
              </ul>
        </div>
      </div>
      
    

<div id="pos" class="container" [hidden]=open>

    <carousel>
        <slide>
          <div class="row">
             
            
            
              <img src="assets/images/car3g.jpg" alt="Image" class="img-fluid img-thumbnail">
    
              <img src="assets/images/car3b.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/car3c.jpg" alt="Image" class="img-fluid img-thumbnail">
            
                <img src="assets/images/car3a.jpg" alt="Image" class="img-fluid img-thumbnail">
                
        </div>
        
        </slide>
        <slide>
            <div class="row">
                <img src="assets/images/car3e.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/car3d.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/car3f.jpg" alt="Image" class="img-fluid img-thumbnail">
                <img src="assets/images/car3a.jpg" alt="Image" class="img-fluid img-thumbnail">
                
          </div>
        </slide>
        <slide>
            <img src="assets/images/car3g.jpg" alt="Image" class="img-fluid img-thumbnail">
            <img src="assets/images/car3h.jpg" alt="Image" class="img-fluid img-thumbnail">
            <img src="assets/images/car3c.jpg" alt="Image" class="img-fluid img-thumbnail">
            <img src="assets/images/car3b.jpg" alt="Image" class="img-fluid img-thumbnail">
           
          </slide>
      </carousel>
    
 
    </div>



















  <br>



  <div  [hidden]=open class="container">
      <div class="row">
       
  <div *ngFor="let product of products;let in = index">

      <ul class="thumbnails">

            <li class="span3">
                <div class="thumbnail">
                  <img src="{{products[in].image}}" alt="ALT NAME">
                  <div class="caption">
                    <h3>{{products[in].productBrand}} {{products[in].productModel}}</h3>
                    <p>{{products[in].description}} </p>
                    <p style="color:white">{{products[in].productId}} </p>
                    <p align="center">
                    <button type="submit" (click)="oneProductDetails(products[in].productId)" class="btn btn-primary btn-block">open</button>
                    
                    </p>
                  </div>
                </div>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
</ul>

</div>
</div>

</div>





<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div [hidden]=!open>






<div   [hidden]=cart   class="container">
  <div class="row">
   


  <ul class="thumbnails">

        <li class="span6">
            <div class="thumbnail">
              <img src="{{product.image}}" alt="ALT NAME">
              <div class="caption">
                <h3>{{product.productBrand}} {{product.productModel}}-{{product.yearOfRegistration}}</h3>
               
              
                Category: <p class="fa fa-car" style="font-size:36px;color:grey"></p>
                <br>
              

                <p class="fa fa-life-buoy" style="font-size:17px">
                   </p>{{product.kmsDriven}}
               
               
      
                <p  class="fa fa-inr" style="font-size:17px"> </p>{{product.expectedSellingPrice}}  &nbsp;  <i class="fas fa-gas-pump"></i> {{product.fuelType}}  &nbsp;  <!-- Color:{{product.color}} -->   &nbsp; {{product.description}}

               

                
                <p><span class="glyphicon glyphicon-user"></span>Seller:{{product.sellerName}} &nbsp; &nbsp; <span class="glyphicon glyphicon-map-marker" style="color:lightcoral"></span>{{product.location}}  </p>

             


               

                
                <p><button type="button" class="btn btn-success btn-md">  <span class="glyphicon glyphicon-earphone"></span> &nbsp;{{product.sellerPhoneNumber}}</button> &nbsp;
                  <button type="button" class="btn btn-danger btn-md"> <span class="glyphicon glyphicon-envelope"></span> &nbsp; {{product.sellerEmail}}</button> </p>
                  
                  <button type="submit" (click)="addToCart(product.expectedSellingPrice,product.productId)" class="btn btn-primary">Book</button>
                
              
                
                
                
                <p style="color:white">{{product.productId}} </p>
                <!-- <a routerLink="/buy" class="btn btn-primary btn-block">Open</a> -->
                
                
              
              </div>
            </div>
           
          </li>
          <li class="span6">
              <div class="thumbnail">
  
                  <div class="caption">
                   
                      Benefits of Quikr Assured Cars<br>
                      <i class="fa fa-automobile" style="font-size:36px;color:lightgreen"></i><br>
                        <b class="pos2">Great EMI Options 
                            Available</b>
                    </div>
                   
              </div>
  
                </li>


                <li class="span6">
                    <div class="thumbnail">
        
                        <form>
                            <fieldset>
                             <legend>Description:</legend>
                             
Quikr
Quikr logo and baseline.jpg Type PrivateIndustry	Internet Founded	2008 Founder	Pranay Chulet and Jiby Thomas 
Headquarters	Bangalore, India Number of locations India Area served India Key people
Pranay Chulet (Co-founder & CEO) Services	Classified advertising Website	www.quikr.com
Quikr is an Indian classified advertising platform. It was founded by Pranay Chulet and Jiby Thomas in 2008.
 Headquartered in Bangalore, Quikr has listings in over 900 cities in India in categories such as mobile phones,
  household goods, cars, real estate, jobs, services and education
                            </fieldset>
                           </form>
                         
                    </div>
        
                      </li>
      
        
</ul>

</div>
</div>


</div>




<div [hidden]=!cart>
<b><h1>  {{product.expectedSellingPrice}}</h1></b>

</div>



 <app-footer></app-footer>  













