
 <!-- <h1 class=bg-dark>Welcome to Quikr</h1> -->
 <nav class="navbar navbar-dark bg-dark mb-6">
  <a class="navbar-brand "  href="/">Quikr<sub>Easy to Change</sub> </a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav ">
       <a class="nav-item nav-link active" href="#">Home</a>
    <a class="nav-item nav-link" href="#">Download App</a>
       <a class="nav-item nav-link" href="#">Deals</a> 
       

      <a class="nav-item dropdown ">
          <button class="dropbtn">Categories</button>
          <div class="dropdown-content">
          <a href="#">Cars & Bikes</a>
          <a href="#">Mobiles & Tablets</a>
          <a href="#">Real Estate</a>
          <a href="#">Services</a>
          <a href="#">Jobs</a>
          <a href="#">Kids & Toys</a>
          </div>
       </a>
   <a class="nav-item searchbar " ><input type="text" size="45" placeholder="   Search.."></a>
       <a><input type="submit"  value="Search"></a> 
   
















        <a class="nav-item " style="margin-left:50px"></a>   -
    
        <!-- <nav>
          <a routerLink="/login" routerLinkActive="active">login</a>
          <a routerLink="/reg" routerLinkActive="active">registration</a>
        </nav> -->
    
      <!--  <a class="nav-item nav-link" href=""> Login/Register</a>
       <a class="nav-item nav-link" href="#">Post Free Ad</a> -->

   <!--     <a class="nav-item nav-link " href="se">Post Free Ad</a> -->
<!--    <button  class="btn btn-link" onclick="document.getElementById('id01').style.display='block'" ><a class="nav-item nav-link " routerLink="/sell" routerLinkActive="active"> Post Free Ad</a></button> -->
        <button  class="btn btn-link" onclick="document.getElementById('id01').style.display='block'" ><a class="nav-item nav-link " routerLink="/login" routerLinkActive="active"> Login</a></button>
       <button  class="btn btn-link" onclick="document.getElementById('id01').style.display='block'" ><a class="nav-item nav-link " routerLink="/reg" routerLinkActive="active"> Register</a></button>
      
<!--       <a class="nav-item nav-link " routerLink="/login" routerLinkActive="active"> Login</a>
      <a class="nav-item nav-link " routerLink="/reg" routerLinkActive="active"> Register</a> -->
      </div>
      
  
    </div>


    


<!-- <li class="nav-item">
        <button class="btn" onclick="document.getElementById('id01').style.display='block'"><a routerLink="login">Login</a></button>
        </li> -->