<div class="foo">
 <footer class="page-footer font-small w navbar-dark bg-dark mb-10">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      
      <div class="col-md-3 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: white">About us</a>
        </h6>
      </div>

      <div class="col-md-3 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: white">Quikr videos</a>
        </h6>
      </div>

      <div class="col-md-3 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!" style="color: white">Help</a>
        </h6>
      </div>

      <div class="col-md-3 mb-3">
        <h6 class="text-uppercase font-weight-bold" >
          <a href="#!" style="color: white">Contact us</a>
        </h6>
      </div>
    </div>
    
    <hr class="rgba-white-light" style="margin: 0 15%;" style="background-color:#2196F3 ">
    <div class="row d-flex text-center  justify-content-center mb-md-0 mb-4 ">

      <div class="col-md-12 col-12 mt-5" >
     
        <p style="line-height: 1.7rem" style="color: white">Widely known as India’s no. 1 online classifieds platform, 
          Quikr is all about you. Our aim is to empower every person in the country to independently connect with buyers and
           sellers online. We care about you — and the transactions that bring you closer to your dreams. 
           Want to buy your first car? We’re here for you. Want to sell commercial property to buy your dream home?
           We’re here for you. Whatever job you’ve got, we promise to get it done</p>
      </div>
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  </div>
  <div class="footer-copyright text-center py-3" style="color: white">© 2019 Copyright:
    <a href="#"> Quikr.com</a>
  </div>

</footer>
</div>