


<form [hidden]="submitted" [formGroup]="forgetForm" novalidate (ngSubmit)="onForget()">
        <div class="login-form">
               
     
        
  
        <div class="group">


            <label for="email" class="label">Email Id*</label>
            <input id="email" type="email" class="input"  formControlName="email" [(ngModel)]="forgetAccount.email">
        </div>
              

        <div *ngIf="forgetForm.controls['email'].invalid && (forgetForm.controls['email'].dirty || forgetForm.controls['email'].touched)">
            <div *ngIf="forgetForm.controls['email'].errors.required">
                                <b style="color:#1161ee">Email is required.</b>
            </div>
            <div *ngIf="forgetForm.controls['email'].errors.pattern">
                
                <b style="color:#1161ee">Email id pattern should be like this [*@gmail.com]</b>
            </div>
        </div>


          <div class="group">
              <button class="button" [disabled]="!forgetForm.valid" type="submit" >Get Password</button>
          </div>
               
            <div class="hr"></div>
  

</div>

</form>


<div [hidden]="!submitted" > 
     
        <div *ngIf="response" class="position">
            <h4 style="color: tomato">Your Password is  {{response.password}}
            <br>
            <img src="assets/images/giphy.gif" height="100" width="200">
            please sign in using your password
            </h4>
             <br>
      <!--  <button  class="btn btn-success" (click)="onLoginPage()">Go Back to Login</button> -->
            
         
           </div>
           <div *ngIf="!response" class="position">
              <h4 style="color: tomato">Email Id Does not exist!</h4>
              <br>
 
              <button  class="btn btn-success" (click)="onHomePage()">retry</button>
 
               </div>
               
       
     </div> 















     